################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/keys.json
/311213tweets.json
/301213tweets.json
/301113tweets.json
/291213tweets.json
/281213tweets.json
/271213tweets.json
/261213tweets.json
/251213tweets.json
/241213tweets.json
/231213tweets.json
/221213tweets.json
/211213tweets.json
/201213tweets.json
/191213tweets.json
/181213tweets.json
/171213tweets.json
/161213tweets.json
/151213tweets.json
/141213tweets.json
/131213tweets.json
/121213tweets.json
/111213tweets.json
/101213tweets.json
/091213tweets.json
/081213tweets.json
/071213tweets.json
/061213tweets.json
/051213tweets.json
/041213tweets.json
/031213tweets.json
/021213tweets.json
/011213tweets.json
/next.txt
/.vs/3rd-Year-Project/v16/Browse.VC.opendb
/dataverse_files
/311013tweets.json
/291113tweets.json
/281113tweets.json
/271113tweets.json
/261113tweets.json
/251113tweets.json
/241113tweets.json
/231113tweets.json
/221113tweets.json
/211113tweets.json
/201113tweets.json
/191113tweets.json
/181113tweets.json
/171113tweets.json
/161113tweets.json
/151113tweets.json
/141113tweets.json
/131113tweets.json
/121113tweets.json
/111113tweets.json
/101113tweets.json
/091113tweets.json
/081113tweets.json
/071113tweets.json
/061113tweets.json
/051113tweets.json
/041113tweets.json
/031113tweets.json
/021113tweets.json
/011113tweets.json
